.idea
cmake-build-*
src/sleighc
build
*.swp
*.o
*.so
compile_commands.json
ghidra/flex/
.vscode
.ccls-cache
.gdb_history
dist/artifacts


ghidra-processors.txt
ghidra/sleighc

subprojects/ghidra-native
subprojects/zlib
