.idea
cmake-build-*
src/sleighc
build
*.swp
*.o
*.so
compile_commands.json
ghidra/flex/
.vscode
.ccls-cache
.gdb_history
dist/artifacts
dist/tarball/r2ghidra-*

ghidra-processors.txt
ghidra/sleighc

subprojects/.wraplock
subprojects/ghidra-native
subprojects/pugixml
subprojects/zlib
Makefile
config.h
src/core_ghidra.dylib
config.mk
